/* ----------------- V A R I A B L E S   &   G L O B A L S ----------------- */
:root {
    --bg-primary: #fdfcf9;
    --bg-secondary: #bbbbbb;

    --brand-primary: #d1af46;
    --brand-secondary: #e4c258;
    --brand-tertiary: #e9d493;
    
    --light-text: #ebe9fc;
    --dark-text: black;

    --radius: 10px;
    --gap: 10px;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-primary);
    margin: 0; /* reset default body margin */
    text-align: center;
}

table, th, td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse; /* single border line */
}

/* ------------------------------ L A Y O U T ------------------------------ */

/* -------------------------- C O M P O N E N T S -------------------------- */

/* RESULTS */


/* LOADER */
.loaderDiv {
    display: none;            /* hidden by default */
    align-items: center;      /* vertical alignment */
    justify-content: center;  /* center the whole block */
    gap: 4px;                 /* small space between spinner and text */
}

.loaderDiv.active {
    display: flex;            /* visible when active */
}

.loader {
  border: 0.2rem solid #f3f3f3; /* Light grey */
  border-top: 0.2rem solid var(--brand-primary); 
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}