<!DOCTYPE html>
<html>
    <head>
        <!-- Get the true width of the device display -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <!-- Page container: controls width + centering -->
        <div class="container stack">

            <!-- Header Section -->
            <div>
                <h1>CoinLens</h1>
                <div class="muted">
                    Please note that the information given is <b>not conclusive</b> and is intended as a <b>starting point</b> for your research.
                </div>
            </div>
            
            <!-- Form Section Card -->
            <div class="card stack">
                <div>Upload images of both sides of the coin</div>
                <div id="form-error" class="muted"></div>
                <form id="coin-form" enctype="multipart/form-data">
                    <label>Front Side (Obverse)</label>
                    <input name="image1" type="file" accept="image/*" capture="environment">

                    <label>Back Side (Reverse)</label>
                    <input name="image2" type="file" accept="image/*" capture="environment">

                    <input type="submit" value="Identify Coin">
                </form>
            </div>

            <!-- Loader (visible while waiting for results) -->
            <div class="loaderDiv">
                <div class="loader"></div>
                <div>Analysing Coin</div>
            </div>

            <!-- Result Section Card -->
            <div id="result" class="card">

                <!-- Layout wrapper (for responsive mobile grid) -->
                <div class="results-layout">
                    <div id="obverse">
                        <h3>Obverse Side</h3>
                        <img id="obverse-img">
                        <table id="coin-attributes-table">
                            <tbody>
                                <tr>
                                    <td>Image</td>
                                    <td id="obverse-description-val"></td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td id="obverse-transcription-val"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="reverse">
                        <h3>Reverse Side</h3>
                        <img id="reverse-img">
                        <table id="coin-attributes-table">
                            <tbody>
                                <tr>
                                    <td>Image</td>
                                    <td id="reverse-description-val"></td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td id="reverse-transcription-val"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Layout wrapper (for responsive mobile grid) -->
                <div class="results-layout">

                    <div id="context">
                        <h3>Overview</h3>
                        <div id="context-paragraph"></div>
                    </div>

                    <div>
                        <h3>Details</h3>
                        <table id="coin-attributes-table">
                            <tbody>
                                <tr>
                                    <td>Country</td>
                                    <td id="country-val"></td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td id="year-val"></td>
                                </tr>
                                <tr>
                                    <td>Denomination</td>
                                    <td id="denomination-val"></td>
                                </tr>
                                <tr>
                                    <td>Materials</td>
                                    <td id="materials-val"></td>
                                </tr>
                                <tr>
                                    <td>Rarity (1-10)</td>
                                    <td id="rarity-val"></td>
                                </tr>
                                <tr>
                                    <td>Est. Value</td>
                                    <td id="est-value-val"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>